{% extends 'base.html.twig' %}

{% block title %}О магазине{% endblock %}

{% block body %}
    <h3>О МАГАЗИНЕ</h3>
    <p>Добро пожаловать в наш интернет магазин.
    Здесь вы найдете самые разные товары, по выгодной цене.</p>
{% endblock %}
