{% extends 'base.html.twig' %}

{% block title %}Email подтвержден{% endblock %}

{% block body %}

    <h1>Email подтвержден</h1>
    <p><a href="{{ path('security_login') }}">Вход</a></p>

{% endblock %}