{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

    <h1>Регистрация</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row">
        <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}