{% extends 'base.html.twig' %}

{% block title %}Регистрация завершена{% endblock %}

{% block body %}

    <h1>Регистрация успешно завершена</h1>
    <p><a href="{{ path('security_login') }}">Вход</a></p>

{% endblock %}