{% extends 'base.html.twig' %}

{% block title %}Виды товаров{% endblock %}

{% block body %}
<ul>
    {% for category in categories %}

    <li><h4><a href="{{ path('category_id', {'id': category.id}) }}"> {{ category.name }}</a></h4></li>

    {% endfor %}
</ul>
{% endblock %}
