{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}

        <h4>{{ category.name }}</h4>
        {{ include('product/_list.html.twig', {'products': category.products}) }}

{% endblock %}