<h1>Регистрация на сайте</h1>
<p>Уважаемый(ая) {{ user.fullName }}, для подверждения регистрации
    кликните <a href="{{ url('security_confirm_email', {'emailCheckCode': user.emailCheckCode}) }}">сюда</a>
</p>
