
{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}

    <div id="cartTable">
        {{ include('order/_cart_table.html.twig', {'order': order}) }}
    </div>

{% endblock %}