
{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}

    <div id="cartTable">
        {{ include('order/_cart_table.html.twig', {'order': order}) }}
    </div>

    <a href="{{ path('order_make_order') }}" class="btn btn-block btn-primary">
        Оформить заказ
    </a>
{% endblock %}